@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

/* ↓ ----- Main rules ----- ↓ */

* {
    font-family: "Google Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Blacks & Whites */
    --black1: rgb(0, 0, 0);
    --white1: rgb(255, 255, 255);
    /* Other colors */
    --color1: rgb(0, 0, 255);
    --color2: rgb(0, 255, 0);
    --color3: rgb(255, 0, 0);
    --color4: rgb(255, 0, 150);
    --color5: rgb(0, 255, 255);
    --color6: rgb(0, 255, 150);
    --color7: rgb(225, 0, 255);
}

/* ↓ ----- Specific rules ----- ↓ */

body {
    overflow-x: hidden;
    color: var(--color1);
}

::first-letter,
span.cpt_letter{
    text-transform: uppercase;
}

::placeholder{
    text-transform: capitalize;
}

/* ↓ ----- Page ----- ↓ */

/* ↓---Section1---↓ */

.section1 > p{
    text-align: center;
    margin-bottom: 15px;
}

.gear{
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
    margin-bottom: 50px;
}

.gear-container{
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
}

.gear-container .description{
    text-align: center;
}
.gear-container .img{
    height: 10rem;
}

.gear-container > .spacing > .img{
    background: url(../imgs/Slash.svg.png) center/contain no-repeat;
}

.gear-container:nth-of-type(1) > .tool:nth-of-type(1) > .img{
    background: url(../imgs/pexels-lucanardone-&-karola-g.png) center/cover;
}

.gear-container:nth-of-type(1) > .tool:nth-of-type(3) > .img{
    background: url(../imgs/pexels-jacob-moseholt-514418-18517278.png) center/cover;
}

.gear-container:nth-of-type(1) > .tool:nth-of-type(5) > .img{
    background: url(../imgs/pexels-mikhail-nilov-7814643.jpg) center/cover;
}

.gear-container:nth-of-type(1) > .tool:nth-of-type(7) > .img{
    background: url(../imgs/pexels-stephanefabricebass-14215010.jpg) center/cover;
}

.gear-container:nth-of-type(1) > .tool:nth-of-type(9) > .img{
    background: url(../imgs/pexels-anete-lusina-4792719.jpg) center/cover;
}

.gear-container:nth-of-type(2) > .tool:nth-of-type(1) > .img{
    background: url(../imgs/boitier-nettoyant-pour-chaine-de-velo.jpg) center/cover;
}

.gear-container:nth-of-type(2) > .tool:nth-of-type(3) > .img{
    background: url(../imgs/pexels-jonathanborba-28576626.jpg) center/cover;
}

.gear-container:nth-of-type(2) > .tool:nth-of-type(5) > .img{
    background: url(../imgs/3x_Premium_Brush_Kit.png) center/cover;
}

.gear-container:nth-of-type(2) > .tool:nth-of-type(7) > .img{
    background: url(../imgs/pexels-polina-tankilevitch-4440527.jpg) center/cover;
}

.gear-container:nth-of-type(2) > .tool:nth-of-type(9) > .img{
    background: url(../imgs/lubrifiant-teflon.jpg) center/cover;
}

.last-notes{
    display: grid;
    grid-template-columns: 50% 50%;
}

.last-notes > p:nth-of-type(1){
    text-align: left;
    margin-left: 30px;
}

.last-notes > p:nth-of-type(2){
    text-align: right;
    margin-right: 30px;
}