@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

/* ↓ ----- Main rules ----- ↓ */

* {
    font-family: "Google Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Blacks & Whites */
    --black1: rgb(0, 0, 0);
    --white1: rgb(255, 255, 255);
    /* Other colors */
    --color1: rgb(0, 0, 255);
    --color2: rgb(0, 255, 0);
    --color3: rgb(255, 0, 0);
    --color4: rgb(255, 0, 150);
    --color5: rgb(0, 220, 220);
    --color6: rgb(0, 255, 150);
    --color7: rgb(225, 0, 255);
}

/* ↓ ----- Specific rules ----- ↓ */

body{
    overflow-x: hidden;
    color: var(--color1);
    text-align: center;
}

section{
    width: 97.5%;
    margin: 0 auto;
}

::first-letter,
span.cpt_letter{
    text-transform: uppercase;
}

::placeholder{
    text-transform: capitalize;
}

.underline1{
    border-bottom: 2px solid;
}

span.underline2{
    border-bottom: 5px double;
}

hr{
    width: 75%;
    margin: 0 auto;
    color: var(--color2);
}

/* ↓ ----- Page ----- ↓ */

header{
    text-align: left;
    color: var(--color7);
}

h2{
    color: var(--color3);
    text-align: left;
    margin: 25px 0 3rem;
    width: 60%;
}

/* ↓---Section1---↓ */

.section1 > p{
    margin-bottom: 25px;
}

.section1 > p:nth-of-type(1){
    color: var(--black1);
}

.gear{
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
    margin-bottom: 100px;
}

.gear-container{
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
}

.gear-container .img{
    height: 10rem;
}

.gear-container .description{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc-bundle p:nth-of-type(2){
    color: var(--color5);
}

.desc-bundle > hr{
    color: black;
}

.gear-container > .spacing > .img{
    background: url(../imgs/Slash.svg.png) center/contain no-repeat;
}

.gear-container:nth-of-type(1) > .tool:nth-of-type(1) > .img{
    background: url(../imgs/pexels-lucanardone-&-karola-g.png) center/cover;
}

.gear-container:nth-of-type(1) > .tool:nth-of-type(3) > .img{
    background: url(../imgs/pexels-jacob-moseholt-514418-18517278.png) center/cover;
}

.gear-container:nth-of-type(1) > .tool:nth-of-type(5) > .img{
    background: url(../imgs/pexels-mikhail-nilov-7814643.jpg) center/contain;
}

.gear-container:nth-of-type(1) > .tool:nth-of-type(7) > .img{
    background: url(../imgs/pexels-stephanefabricebass-14215010.jpg) center/cover;
}

.gear-container:nth-of-type(1) > .tool:nth-of-type(9) > .img{
    background: url(../imgs/pexels-anete-lusina-4792719.jpg) center/cover;
}

.gear-container:nth-of-type(2) > .tool:nth-of-type(1) > .img{
    background: url(../imgs/boitier-nettoyant-pour-chaine-de-velo.jpg) center/cover;
}

.gear-container:nth-of-type(2) > .tool:nth-of-type(3) > .img{
    background: url(../imgs/pexels-jonathanborba-28576626.jpg) center/cover;
}

.gear-container:nth-of-type(2) > .tool:nth-of-type(5) > .img{
    background: url(../imgs/3x_Premium_Brush_Kit.png) center/contain no-repeat;
}

.gear-container:nth-of-type(2) > .tool:nth-of-type(7) > .img{
    background: url(../imgs/pexels-polina-tankilevitch-4440527.jpg) center/cover;
}

.gear-container:nth-of-type(2) > .tool:nth-of-type(9) > .img{
    background: url(../imgs/lubrifiant-teflon.jpg) center/cover;
}

.last-notes{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
}

.last-notes > p:nth-of-type(1){
    text-align: left;
    margin-left: 30px;
    color: var(--black1);
}

.last-notes > p:nth-of-type(2){
    text-align: right;
    margin-right: 30px;
    color: var(--color4);
}

/* ↓---Section2---↓ */

.section2 > p:nth-of-type(1){
    text-align: start;
}

.warning{
    margin: 50px 10px;
}

.warning-container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
}

.section2 > p:nth-of-type(2){
    text-align: start;
}